# Dependency directories
node_modules/ 

DataMongodb/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Project Cores (internal notes/guides)
Cores/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Frontend
/frontend_old
/frontend_reference
